.App button {
  display: block;
  font-size: 1.2em;
  padding: .2em;
  margin: 2em auto;
}

.favs>button {
  display: inline;
  position: relative;
  top: 2px;
  margin: .8em 0;
}

.glass {
  position: relative;
  width: 17em;
  border: 8px solid black;
  border-top: 0;
  margin: 3.5em auto;
  padding: 1em;
}
.glass h2 {
  text-align: center;
}
.favs>h2 {
  display: inline;
  border: 1px solid black;
  padding: .5em;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  position: relative;
  font-size: 2.5em;
  width: 5em;
  height:140px;
  border: 5px solid white;
  padding-left: 5px;
}
.App-title::after, .glass::after {
  content: " ";
    border: 5px solid white;
    position:absolute;
    height: 50px;
    width: 20px;
    right: -30px;
    top: 25px;
}
.glass::after {
  border: 8px solid black;
  top: 65px;
  height: 95px;
  width: 35px;
  right: -51px;
}



.favBadge {
  color: white;
  position:relative;
  float: right;
  margin: 25px;
}
.favBadge[data-favbadge]:after {
   content:attr(data-favBadge);
   position:absolute;
   top:-11px;
   font-size:.8em;
   color:hsla(30, 95%, 55%, 1);
   text-align:center;
   line-height:20px;

}

.search {
  width: 50%;
  margin: 20px auto;
  padding: 1em;
  border-color: black;
}
.search>input {
  border: 2px solid black;
  padding: 1em;
  width: 50%;
}
.search>button {
  display: inline;
}
